.widget-container-fobi {
  display: flex;
  justify-content: center
}

.widget-container {
  min-width: 225px
}

.widget-container-fobi.width-25 .widget-container {
  width: 25%
}

.widget-container-fobi.width-50 .widget-container {
  width: 50%
}

.widget-container-fobi.width-100 .widget-container {
  width: 100%
}
